* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
}

.sec {
  padding: 0 5%;
}

nav {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 5%;
}
nav .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
nav .nav .movies-nav {
  list-style-type: none;
  display: inline;
}
nav .nav .movies-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vh;
}
nav .nav .movies-nav-list .movies-nav-element {
  width: fit-content;
  text-decoration: none;
  list-style-type: none;
  border: 0.1rem solid black;
  text-align: center;
  padding: 0.45rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 0.07rem;
  position: relative;
  font-size: larger;
}
nav .nav .movies-nav-list .movies-nav-element a {
  color: black;
}
nav .nav .movies-nav-list .movies-nav-element:not(:first-child) {
  display: none;
}
nav .nav .movies-nav-list:first-child:hover .movies-nav-element {
  display: block;
  width: inherit;
}
nav .nav .movies-nav-list:first-child:hover .movies-nav-element span {
  display: none;
}
