@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/static/images/Background_cinema.jpg);
  background-size: cover;
}

.sec {
  padding: 0 5% !important;
}

.sec-cont {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  width: 100%;
  min-height: 70vh;
}

header {
  background-color: #cc0028;
}
header div {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
header nav {
  width: 100%;
  background-color: #cc0028;
}
header nav menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header nav menu a {
  color: white;
  font-weight: bold;
  padding-top: 18px;
  padding-block-end: 22px;
  font-size: 1.2em;
  transition: transform 0.2s;
  display: flex;
}
header nav menu a:hover {
  transform: scale(1.2);
}
header nav menu .active {
  border-bottom: 4px solid white;
}

.header-nav-toggle {
  display: none;
}

@media screen and (max-width: 640px) {
  .header-nav-toggle {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    margin: 0;
    padding: 0;
    border-width: 0;
    display: block;
    transition: top 0.5s, right 0.5s, transform 0.5s;
  }
  .header-nav-toggle::before {
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    position: relative;
    top: 0.8em;
    transition: transform 0.5s;
  }
  .header-nav-toggle::after {
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    position: relative;
    top: 1.2em;
  }
  .header-menu {
    display: none;
  }
  .header-nav.open {
    display: block;
    background-color: rgba(128, 128, 128, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
  }
  .header-nav.open .header-nav-toggle {
    z-index: 1001;
    transform: rotate(225deg);
    top: 5em;
    right: 4em;
  }
  .header-nav.open .header-nav-toggle::before {
    top: 0;
    transform: rotate(90deg);
  }
  .header-nav.open .header-nav-toggle::after {
    display: none;
  }
  .header-nav.open .header-menu {
    z-index: 1;
    background-color: #cc0028;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    bottom: 15em;
    z-index: 1000;
    animation: header-menu_reveal 0.3s 0.2s;
    animation-fill-mode: backwards;
  }
  @keyframes header-menu_reveal {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .header-nav.open .header-menu-item {
    display: block;
    font-size: 1.5em;
    padding-bottom: 0.3em;
    margin: 0.5em 0;
  }
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.nav .movies-nav {
  list-style-type: none;
  display: inline;
}
.nav .movies-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vh;
}
.nav .movies-nav-list .movies-nav-element {
  width: fit-content;
  text-decoration: none;
  list-style-type: none;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  text-align: center;
  margin-right: 0.5rem;
  padding: 0.45rem;
  background-color: white;
  position: relative;
  font-size: larger;
}
.nav .movies-nav-list .movies-nav-element a {
  color: black;
}
.nav .movies-nav-list .movies-nav-element:not(:first-child) {
  display: none;
}
.nav .movies-nav-list:first-child:hover .movies-nav-element {
  display: block;
  width: inherit;
}
.nav .movies-nav-list:first-child:hover .arrow-top {
  display: none;
}

@media screen and (max-width: 640px) {
  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav .movies-nav {
    display: block;
    margin: 0 auto;
  }
  .nav .movies-nav-list .movies-nav-element {
    width: 85vw;
    background-color: #d9d9d9;
    border-radius: 0.25rem;
    margin-bottom: 0.15rem;
  }
  .nav .movies-nav-list:first-child:hover .movies-nav-element,
  .nav .movies-nav-list:first-child:focus .movies-nav-element {
    display: block;
    width: 85vw;
  }
}
.accordion-cont {
  height: 15rem;
}

.footer {
  background-color: #cc0028;
  height: auto;
}

.footer-nav {
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.footer-options {
  color: white;
}
.footer-options:hover {
  text-decoration: underline;
}

#footer-facebook-logo {
  color: white;
}

#footer-instagram-logo {
  color: white;
}

#footer-twitter-logo {
  color: white;
}

@media screen and (max-width: 640px) {
  .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .footer-nav h2 {
    font-size: 0.8em;
  }
  .footer-nav li {
    font-size: 0.8em;
  }
}
.main-content {
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 12em;
}

.about-us-text {
  padding-bottom: 2rem;
}

.contact-text-about-us {
  padding: 2rem 0;
  text-align: center;
}

.about-us-img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.main-container {
  padding: 1rem 0;
}

#booking-render-container {
  border-radius: 10px;
}
#booking-render-container .buy-button-container {
  text-align: center;
}
#booking-render-container .buy-button-container button {
  color: white;
  background-color: #cc0028;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}

.restaurant {
  border: 2px solid white;
}

.restaurant-text {
  color: white;
}

.restaurant-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}
.restaurant-info li {
  list-style-type: none;
}
.restaurant-info li .press-info {
  margin: 1rem;
}
.restaurant-info li .press-info a {
  color: white;
  text-decoration: underline;
}

.main-container {
  width: 100%;
}

.salon-description {
  max-width: 808px;
  margin: auto;
}

.salonA {
  width: 50%;
  height: 240px;
}

.salonB {
  width: 50%;
  height: 240px;
}

.salon-header {
  margin-top: 0.5em;
}

.salon-text {
  margin-bottom: 3em;
}
