.main-content {
    border-radius: 5px;
    margin: auto;
    max-width: 808px;
    margin-bottom: 12em;
    padding: 0 1rem;
}

.about-us-text {
    padding-bottom: 2rem;
}

.contact-text-about-us {
    padding: 2rem 0;
    text-align: center;
}

.about-us-img {
    width: 90%;
    margin-left: 5%;    
}