.accordion-cont {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    position: relative;
    border: 8px solid rgb(255, 255, 255);

    // Buttons
    .slide-btn {
        position: absolute;
        top: 0;
        width: 15%;
        height: 100%;
        background-color: rgba(0, 255, 255, 0);
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 2;

        img {
            width: 2rem;
            height: 2rem;
        }

        &.prev {
            background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
            left: 0;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
            >img {
                filter: invert(95%);
            }
        }
        
        &.next {
            background-image: linear-gradient(to left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
            right: 0;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
            >img {
                filter: invert(95%);
            }
        }
    }

    // Slider
    .slider {
        height: 20rem;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .slide {
            transition: margin 800ms ease-out;
            min-width: 100%;
            height: inherit;
            position: relative;
            display: flex;
            justify-content: center;

            .slide-content {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                z-index: 1;
                padding-bottom: 3rem;

                h2,
                h3 {
                    color: $second-color;
                    pointer-events: none;
                }

                .header-anim {
                    animation: fadein .5s;
                }

                h2 {
                    font-size: 3rem;
                    line-height: .8;
                }

                h3 {
                    margin-top: .2rem;
                    font-size: 1.5rem;
                }

                a {
                    margin-top: .5rem;
                    width: auto;
                    height: auto;
                    position: unset;
                    color: $second-color;
                    background-color: rgb(23, 23, 23);
                    padding: .5rem 4rem;
                    border: 1px solid $second-color;
                }

                .btn-anim {
                    animation: fadein 1s forwards;
                }
            }

            img {
                pointer-events: none;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: inherit;
                object-fit: cover;
            }
        }
    }
}

@keyframes fadein {
    from {
        transform: translateY(150%);
    }

    to {
        transform: translateY(0%);
    }
}

@media screen and (max-width: $breaking-point) {
    .accordion-cont {
        display: none;
    }
}