.main-container {
    width: 100%;

    #booking-render-container {
        border-radius: 10px;
        margin: auto;
        max-width: 808px;
        padding: 1rem;

        .buy-button-container {
            text-align: center;

            button {
                color: $second-color;
                background-color: $default-red;
                padding: 1rem 2.5rem;;
                border-radius: 10px;
                font-size: 1.2rem;
                font-weight: bold;
                border: none;               
            }
        }     
    }
}