.main-container {
  padding: 1rem 0;
}

#booking-render-container {
  border-radius: 10px;
  margin: auto;
  max-width: 808px;
  background-color: rgba($second-color, 0.8);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
    color: black;
  }

  .booking-step-1-start {
    margin-top: 1rem;
  }

  .movie-screen {
    width: 60%;
    text-align: center;
    margin: auto;
    border: 3px solid black;
    margin-bottom: 3rem;
    font-weight: bold;
    color: black;
  }

  .choose-seat-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    div {
      display: flex;
      justify-content: center;
      border: 3px solid black;
      width: 3.5rem;
      height: 3.5rem;
      align-items: center;
      border-radius: 10px;
      font-weight: bold;
      color: black;
    }
  }

  .email-container {
    display: flex;
    flex-direction: column;
    margin-left: 55%;
  }

  .name-email-details {
    color: black;
    margin-top: 2em;
  }

  .name-input {
    text-align: center;
    margin-top: 2em;
    height: 3em;
    width: 12em;
    border-style: none;   
  }

  .email-input {
    text-align: center;
    margin-top: 1em;
    height: 3em;
    width: 12em;
    border-style: none;
  }

  ::placeholder {
    text-align: center;
    color: black;
  }

  .confirm-email-input {
    text-align: center;
    margin-top: 1em;
    height: 3em;
    width: 12em;
    border-style: none;
  }

  .buy-button-container {
    text-align: center;
    margin-top: 2rem;

    button {
      color: $second-color;
      background-color: $default-red;
      padding: 1rem 2.5rem;
      border-radius: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
    }
  }
}
