.footer {
  background-color: $default-red;
  height: auto;
}

.footer-nav {
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.footer-options {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

#footer-facebook-logo {
  color: white;
}

#footer-instagram-logo {
  color: white;
}

#footer-twitter-logo {
  color: white;
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 0.8em;
  }
  li {
    font-size: 0.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .footer {
    height: 7em;
  }
}
