.footer {
  background-color: $default-red;
  margin-top: auto;
}

.footer-nav {
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  color: white;
  list-style-type: none;

  h2 {
    font-size: 1rem;
  }

  li {
    font-size: 0.8rem;
  }
}

.footer-options {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

#footer-facebook-logo {
  color: white;
}

#footer-instagram-logo {
  color: white;
}

#footer-twitter-logo {
  color: white;
}

@media screen and (max-width: 640px) {
  .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;

    h2 {
      font-size: 0.8em;
    }
    li {
      font-size: 0.8em;
    }
  }
}
