.footer {
    background-color: $default-red;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10em;
}

.footer-nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 1em;
    color: white;
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
}

.footer-options {
    color: white;

    
    &:hover {
      text-decoration: underline;  
    }
}

#footer-facebook-logo {
    color: white;
}

#footer-instagram-logo {
    color: white;
}

#footer-twitter-logo {
    color: white;
}


@media screen and (max-width: 640px) {
    h2 {
        font-size: 0.8em;
    }
    li {
        font-size: 0.8em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .footer {
        height: 7em;
    }
}
