.list-styling {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto 1.5rem auto;
  li {
    list-style-type: none;
    margin: 1rem;
    img {
      border: 3px solid white;
      max-width: 200px;
    }

    img:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.show-movies {
  display: flex;
  flex-direction: row;

  .index-title {
    color: $second-color;
    border-bottom: 1px solid white;
    margin: 1.5rem 1.5rem 1.5rem 0;
    width: 100%;
  }
  h2 {
    color: $second-color;
    border-bottom: 1px solid white;
    width: 20vw;
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: $breaking-point) {
  .show-movies {
    .movies-lists-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    .index-title {
      width: 90vw;
    }

    .list-styling {
      max-width: 100%;
      flex-wrap: nowrap;
      overflow-x: auto;
      li {
        margin: 0.5rem;
      }
    }
  }
}
