.list-styling {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto 1.5rem auto;
  li {
    list-style-type: none;
    margin: 0.5rem;
    img {
      border: 3px solid white;
      max-width: 200px;
    }

    img:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.show-movies {
  display: flex;
  flex-direction: row;

  h1 {
    color: $second-color;
    border-bottom: 2px solid white;
    margin: 1.5rem 1.5rem 1.5rem 0;
    min-width: 100%;
  }
  h2 {
    color: $second-color;
    border-bottom: 2px solid white;
    width: 20vw;
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: $breaking-point) {
  .show-movies {
    max-width: 100%;
    width: 100%;
  }
  .list-styling {
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
