.movies {
  margin: 0px auto;
  padding: auto;

  div {
    display: flex;
    margin-bottom: 1em;
  }

  .movies-category-list {
    display: flex;
    margin: 20px 0px 10px;

    .movies-category-element {
      width: fit-content;
      text-decoration: none;
      list-style-type: none;
      border: 0.1rem solid black;
      border-radius: 0.5rem;
      text-align: center;
      margin-right: 0.5rem;
      padding: 0.45rem;
      background-color: $second-color;
      position: relative;
      font-size: smaller;

      a {
        color: $first-color;
      }
    }
  }
  .movies-h2 {
    margin: 20px 0px 10px;
    color: $second-color;
  }
  .movies-list {
    border-top: 1px solid $second-color;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding-top: 50px;
    margin-bottom: 50px;

    .movies-list-item {
      max-width: 200px;
      margin: auto;

      p {
        color: $second-color;
        margin-top: -40px;
        margin-left: 5px;

        span {
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          padding: 4px;
        }
      }
      img {
        border: 1px solid $second-color;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .movies {
    max-width: 100vw;
    .movies-list {
      grid-template-columns: 1fr 1fr 1fr;

      img {
        max-width: 25vw;
      }
    }
  }
}

@media screen and (max-width: $breaking-point) {
  .movies {
    h2 {
      padding-left: 5%;
    }
    div {
      display: block;
    }
    .movies-list {
      grid-template-columns: 1fr 1fr;

      img {
        max-width: 40vw;
      }
    }
  }
}
