// Navigation menu for desktop and mobile
.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;

  .mobile-nav-menu {
    display: none;
  }

  .nav {
    > ul {
      display: flex;
      flex-direction: row;
    }
    .movies-nav {
      list-style-type: none;
      display: inline;
    }
      border: 0.1rem solid black;
      border-radius: 0.5rem;
      text-align: center;
      margin-right: 0.5rem;
      padding: 0.45rem;
      background-color: $second-color;
      position: relative;
      font-size: larger;

    .movies-nav-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 2vh;

      .movies-nav-element {
        width: fit-content;
        text-decoration: none;
        list-style-type: none;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        text-align: center;
        margin-right: 0.5rem;
        padding: 0.45rem;
        background-color: $second-color;
        position: relative;
        font-size: 1rem;

        a {
          color: $first-color;
        }
      }

      .movies-nav-element:not(:first-child) {
        display: none;
      }
    }

    .movies-nav-list:first-child:hover {
      .movies-nav-element {
        display: block;
        width: inherit;
      }

      .arrow-top {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $breaking-point) {
  .nav-container {
    height: fit-content;
    width: 85vw;
    flex-direction: column;
    justify-content: space-evenly;

    .mobile-nav-menu {
      display: block;
      border: 0.1rem solid black;
      border-radius: 0.25rem;
      text-align: center;
      margin: 0.5rem auto 0.15rem;
      padding: 0.45rem;
      width: 90vw;
      background-color: $second-color;
      font-size: 1.2rem;
    }

    .nav:not(:first-child) {
      display: none;
    }

    .nav {
      > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
      }
      .movies-nav {
        display: block;
        margin: 0 auto;

        .movies-nav-list {
          margin-top: 0.5rem;
          width: 90vw;
          .movies-nav-element {
            width: 90vw;
            background-color: $forth-color;
            border-radius: 0.25rem;
            &:not(:first-child) {
              margin-top: 0.4rem;
              background-color: $second-color;
            }
          }

          .movies-nav-list:first-child:hover,
          .movies-nav-list:first-child:focus {
            .movies-nav-element {
              display: block;
              width: 90vw;
            }
          }
        }
      }
    }
  }
}
