.restaurant {
  border: 2px solid white;
  margin: 1.5rem;
}

.restaurant-text {
  color: $second-color;
}

.restaurant-text-container {
  background-color: rgba($second-color, 0.3);
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 60ch;
  text-align: left;
  margin: 1rem;
}

.res-title {
  border-bottom: 3px solid white;
  margin: 1.5rem auto 1.5rem auto;
  text-align: left;
  padding-bottom: 0.5rem;
}

.restaurant-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
  li {
    list-style-type: none;
    .press-info {
      margin: 1rem;
      a {
        color: $second-color;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: $breaking-point) {
  .restaurant {
    width: 85vw;
    margin: 1rem;
  }

  .res-title {
    border-bottom: 3px solid white;
    margin: 1.5rem auto 1.5rem auto;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .restaurant-text-container {
    padding: 1rem;
    width: 85vw;
  }
}
