.main-container {
  width: 100%;
}

.salons {
  max-width: 808px;
  margin: auto;
  margin-top: 0.5em;
}

.salon-description {
  max-width: 808px;
  margin: auto;
}

p {
  color:white;
}

h1 {
  color:white;
}

.salonA {
  width:50%;
  height: 240px;
}

.salonB {
    width:50%;
    height: 240px;
}

.salon-header {
  margin-top: 0.5em;
}

.salon-text {
  margin-bottom: 3em;
}
