@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../images/Background_cinema.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Re-usable classes for bigger screens
.sec {
  padding: 0 5% !important;
}

.sec-cont {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  width: 100%;
}

@import "variables.scss";
@import "sections/header.scss";
@import "sections/nav-menu.scss";
@import "sections/accordion.scss";
@import "sections/footer.scss";
@import "sections/about-us.scss";
@import "sections/booking.scss";
@import "sections/restaurant.scss";
@import "sections/movies.scss";
@import "sections/salons.scss";
@import "sections/movies-startsida.scss";
@import "sections/sidebar.scss";
@import "sections/under-construction.scss";
@import "sections/events.scss";